

/* Extra CSS */
.small {
  font-size: 90%;
}
.smaller {
  font-size: 80%;
}


/* Extra CSS */
.small {
  font-size: 90%;
}
.smaller {
  font-size: 80%;
}


/* Extra CSS */
.small {
  font-size: 90%;
}
.smaller {
  font-size: 80%;
}


/* Extra CSS */
.small {
  font-size: 90%;
}
.smaller {
  font-size: 80%;
}


/* Extra CSS */
.small {
  font-size: 90%;
}
.smaller {
  font-size: 80%;
}


/* Extra CSS */
.small {
  font-size: 90%;
}
.smaller {
  font-size: 80%;
}


/* Extra CSS */
.small {
  font-size: 90%;
}
.smaller {
  font-size: 80%;
}


/* Extra CSS */
.small {
  font-size: 90%;
}
.smaller {
  font-size: 80%;
}
